
@gris: #EEECEC;
@borde-gris: #999999;
@rojo: #017491;
@title-rojo: #4C87A8;

/* Bootstrap */
@import "bootstrap/bootstrap.less";

@import url(http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic);

html, body {
    height: 100%;
}

html {
    background-image: url("../img/clouds.jpg");
    background-position: fixed;
}

body {
    background-color: rgba(255,255,255,0.7);
    min-height: 100%;
}

@footerHeight: 50px;
#wrapper {
    min-height: 100%;
    position: relative;
    
    & > .header {
        background-color: @rojo;
        height: 100px;
    }
    & > .main-title {
        background-color: @gris;
        border-bottom: 1px solid @rojo;
        line-height: 50px;
        color: @title-rojo;
        font-weight: bolder;
        font-size: 20px;
    }
    & > .main-body {
        padding-top: 15px;
    }
    & > .wrapper-ghost {
        height: calc(@footerHeight + 20px);
    }
    & > .footer {
        // Footer abajo
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: @footerHeight;
        
        // Estilos propios
        background-color: @gris;
        border-top: 1px solid @rojo;
        color: #999;
        padding-top: 10px;
    }
}

i {
    font-family: FontAwesome;
    font-style: normal;
}

.box {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    border: 1px solid #DDD;
}

#pageLogo {
    font-size: 36px;
    color: white;
    line-height: 95px;
    
    & > * {
        display: inline-block;
    }
    & > div {
        margin-left: 10px;
        font-family: 'Amaranth', sans-serif;
    }
}

.flash-message {
    width: 100%;
    
    & > .message {
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: rgb(248, 255, 161);
        line-height: 26px;
        color: rgb(172, 124, 0);
        margin-left: auto;
        margin-right: auto;
    }
}
